# Raw Data (Ignored)
data/
*.csv

# Python Environments & Cache (Ignored)
venv/
.venv/
__pycache__/
.ipynb_checkpoints/

# Allow the LoRA adapter folder
!outputs/flan_t5_lora_results/best_lora_model/*